body {
    background: #F3E5AB;
    font-size: 100%;
}

h1 {
    font-size: 2em;
    text-align: center;
}

input {
    font-size: 1.5em;
    background: #6F4E37;
    color: #f7fff7;
    margin: 2%;
    margin-top: 1%;
    padding: 2%;
    border-style: none;
    text-align: center;
}

.tabl {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    text-align: center;
    padding: 10px;
}
