body {
    background: #F3E5AB;
    font-size: 100%;
}

#buttons, h1, p {
    text-align: center;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 2em;
}

input {
    font-size: 1.5em;
    background: #6F4E37;
    color: #f7fff7;
    margin: 2%;
    margin-top: 1%;
    padding: 2%;
    border-radius: .5em;
    border-style: none;
}
