body {
    background: #F3E5AB;
    font-size: 100%;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p {
    margin: 2em;
    width: 95%;
}

input {
    background: #6F4E37;
    border-style: none;
    color: #f7fff7;
    font-size: 1.5em;
    text-align: center;
    width: 90%;
}

.tabl {
    display: table;
    width: 100%;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
    padding: 10px;
    text-align: center;
}
